<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.kakaopay.project.api.product.mapper.ProductMapper">

  <select id="selectProductList" resultType="com.kakaopay.project.api.product.model.ProductModel">
    SELECT
      product_id
      , title
      , product_type
      , total_investing_amount
      , started_at
      , finished_at
      , created_time
      , modified_time
      , registrant_id
    FROM public.tb_product
    WHERE now() BETWEEN started_at AND finished_at
  </select>

  <select id="selectProductById" parameterType="long" resultType="com.kakaopay.project.api.product.model.ProductModel">
    SELECT
      product_id
      , title
      , product_type
      , total_investing_amount
      , started_at
      , finished_at
      , created_time
      , modified_time
      , registrant_id
      FROM public.tb_product
    WHERE product_id = #{productId}
  </select>

  <delete id="deleteProduct" parameterType="com.kakaopay.project.api.product.model.ProductModel">
    DELETE FROM tb_product WHERE product_id = #{productId}
  </delete>

  <update id="updateProduct" parameterType="com.kakaopay.project.api.product.model.ProductModel">
    UPDATE tb_product
    SET title = #{title}
      , total_investing_amount = #{totalInvestingAmount}
      , started_at = #{startedAt}
      , finished_at = #{finishedAt}
      , modified_time = now()
  </update>

  <insert id="insertProduct" parameterType="com.kakaopay.project.api.product.model.ProductModel">
    INSERT INTO tb_product
      (title, product_type, total_investing_amount, started_at, finished_at, created_time, modified_time, registrant_id)
    VALUES
      (#{title}, #{productType}, #{totalInvestingAmount}, #{startedAt}, #{finishedAt}, now(), now(), #{registrantId})
  </insert>

</mapper>