<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.kakaopay.project.api.investment.mapper.AdminMapper">

    <insert id="insertAdmin" parameterType="com.kakaopay.project.api.investment.dto.admin.AddAdminDto">
        INSERT INTO tb_admin
        (admin_id, name, password, created_time, modified_time)
        VALUES
        (#{adminId}, #{name}, #{password}, now(), now())
    </insert>

    <update id="updateAdmin" parameterType="com.kakaopay.project.api.investment.dto.admin.UpdateAdminDto">
        UPDATE tb_admin
        SET name = #{name},
        password = #{password},
        modified_time = now()
        WHERE admin_id = #{adminId}
    </update>

    <select id="selectAdminById" parameterType="String"
            resultType="com.kakaopay.project.api.investment.dto.admin.AdminDetailDto">
        SELECT
        admin_no
        , admin_id
        , name
        , password
        , modified_time
        , created_time
        FROM tb_admin
        WHERE admin_id = #{adminId}
    </select>

</mapper>