<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.kakaopay.project.api.investment.mapper.InvestMapper">
    <select id="insertProductInvest" parameterType="com.kakaopay.project.api.investment.dto.InvestProductDto"
            resultType="com.kakaopay.project.api.investment.dto.InvestStatusDto">
        SELECT invest_status, fail_reason
        FROM sp_set_product_invest(#{productId}, #{memberId}, #{investedAmount});
    </select>
</mapper>