<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.kakaopay.project.api.investment.mapper.InvestMapper">

    <select id="insertProductInvest" parameterType="com.kakaopay.project.api.investment.dto.InvestProductDto"
            resultType="com.kakaopay.project.api.investment.dto.InvestStatusDto">
        SELECT invest_status, fail_reason
        FROM sp_set_product_invest(#{productId}, #{memberId}, #{investedAmount});
    </select>

    <delete id="deleteProductInvest" parameterType="long">
        DELETE FROM tb_product_invest
         WHERE invest_id = #{investId}
           AND NOT EXISTS(
                        SELECT tp.product_id, tpi.invest_id
                        FROM tb_product tp
                        JOIN tb_product_invest tpi
                          ON tp.product_id = tpi.product_id
                        WHERE invest_id = #{investId}
                         AND now() BETWEEN started_at AND finished_at
                        LIMIT 1
        )
    </delete>

    <select id="selectMyInvestProducts" parameterType="long" resultType="com.kakaopay.project.api.investment.dto.MyInvestProductDto">
        SELECT
          tp.product_id
          , tp.title
          , tp.total_investing_amount
          , sum(tpi.invested_amount) AS my_invested_amount
          , tpi.modified_time
          , tptp.total_invested_amount
        FROM tb_product tp
        LEFT OUTER JOIN tb_product_invest tpi ON tpi.product_id = tp.product_id and tpi.invest_status = 'SUCCESS'
        LEFT OUTER JOIN (SELECT tttp.product_id, sum(tttp.invested_amount) as total_invested_amount
                          FROM tb_product_invest tttp
                          WHERE tttp.invest_status = 'SUCCESS'
                          GROUP BY tttp.product_id
                        ) AS tptp on tptp.product_id = tp.product_id
        WHERE tpi.member_id = #{memberId}::bigint
        GROUP BY tp.product_id
        , tp.title
        , tp.total_investing_amount
        , tpi.modified_time
        , tptp.total_invested_amount
    </select>
</mapper>