<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.kakaopay.project.api.investment.mapper.InvestorMapper">

    <insert id="insertInvestor" parameterType="com.kakaopay.project.api.investment.dto.investor.AddInvestorDto">
        INSERT INTO tb_investor
         (investor_id, name, password, created_time, modified_time)
        VALUES
         (#{investorId}, #{name}, #{password}, now(), now())
    </insert>

    <update id="updateInvestor" parameterType="com.kakaopay.project.api.investment.dto.investor.UpdateInvestorDto">
        UPDATE tb_investor
        SET name = #{name},
        password = #{password},
        modified_time = now()
        WHERE investor_id = #{investorId}
    </update>

    <select id="selectInvestorById" parameterType="String"
            resultType="com.kakaopay.project.api.investment.dto.investor.InvestorDetailDto">
        SELECT
            investor_no
            , investor_id
            , name
            , password
            , modified_time
            , created_time
        FROM tb_investor
        WHERE admin_id = #{adminId}
    </select>

</mapper>