<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.kakaopay.project.api.productmanagement.mapper.ProductManagementMapper">

    <select id="selectInvestProducts" resultType="com.kakaopay.project.api.productmanagement.dto.ProductSearchDto">
        <![CDATA[
        SELECT
            b.product_id
            , b.title
            , b.product_type
            , b.total_investing_amount
            , b.started_at
            , b.finished_at
            , b.created_time
            , b.modified_time
            , b.member_id
            , b.investor_count
            , b.now_investing_amount
            , (CASE WHEN total_investing_amount <= now_investing_amount THEN 'FINISHED'
               ELSE 'RECRUITING' END) AS investment_recruitment_status
            FROM  (
                SELECT
                    tp.product_id
                    , tp.title
                    , tp.product_type
                    , tp.total_investing_amount
                    , tp.started_at
                    , tp.finished_at
                    , tp.created_time
                    , tp.modified_time
                    , tp.member_id
                    , count(ti.member_id) as investor_count
                    , COALESCE(sum(tpi.invested_amount), 0) as now_investing_amount
                FROM tb_product tp
                LEFT OUTER JOIN tb_product_invest tpi ON tp.product_id = tpi.product_id AND tpi.invest_status = 'SUCCESS'
                LEFT OUTER JOIN tb_member ti ON ti.member_id = tpi.member_id
                WHERE now() BETWEEN started_at AND finished_at
                group by
                    tp.product_id
                    , tp.title
                    , tp.product_type
                    , tp.total_investing_amount
                    , tp.started_at
                    , tp.finished_at
                    , tp.created_time
                    , tp.modified_time
                    , tp.member_id
        ) AS b
        ]]>
    </select>

    <select id="selectMyProducts" parameterType="long" resultType="com.kakaopay.project.api.productmanagement.dto.ProductSearchDto">
        <![CDATA[
        SELECT
            b.product_id
            , b.title
            , b.product_type
            , b.total_investing_amount
            , b.started_at
            , b.finished_at
            , b.created_time
            , b.modified_time
            , b.member_id
            , b.investor_count
            , b.now_investing_amount
            , (CASE WHEN total_investing_amount <= now_investing_amount THEN 'FINISHED'
               ELSE 'RECRUITING' END) AS investment_recruitment_status
            FROM  (
                SELECT
                    tp.product_id
                    , tp.title
                    , tp.product_type
                    , tp.total_investing_amount
                    , tp.started_at
                    , tp.finished_at
                    , tp.created_time
                    , tp.modified_time
                    , tp.member_id
                    , count(ti.member_id) as investor_count
                    , COALESCE(sum(tpi.invested_amount), 0) as now_investing_amount
                FROM tb_product tp
                LEFT OUTER JOIN tb_product_invest tpi ON tp.product_id = tpi.product_id AND tpi.invest_status = 'SUCCESS'
                LEFT OUTER JOIN tb_member ti ON ti.member_id = tpi.member_id
                WHERE tp.member_id = #{memberId}::bigint
                group by
                    tp.product_id
                    , tp.title
                    , tp.product_type
                    , tp.total_investing_amount
                    , tp.started_at
                    , tp.finished_at
                    , tp.created_time
                    , tp.modified_time
                    , tp.member_id
        ) AS b
        ]]>
    </select>

    <select id="selectProductById" parameterType="long"
            resultType="com.kakaopay.project.api.productmanagement.dto.ProductSearchDto">
        <![CDATA[
        SELECT
            b.product_id
            , b.title
            , b.product_type
            , b.total_investing_amount
            , b.started_at
            , b.finished_at
            , b.created_time
            , b.modified_time
            , b.member_id
            , b.investor_count
            , b.now_investing_amount
            , (CASE WHEN total_investing_amount <= now_investing_amount THEN 'FINISHED'
              ELSE 'RECRUITING' END) AS investment_recruitment_status
        FROM  (
        SELECT
            tp.product_id
            , tp.title
            , tp.product_type
            , tp.total_investing_amount
            , tp.started_at
            , tp.finished_at
            , tp.created_time
            , tp.modified_time
            , tp.member_id
            , count(ti.member_id) as investor_count
            , COALESCE(sum(tpi.invested_amount), 0) as now_investing_amount
        FROM tb_product tp
        LEFT OUTER JOIN tb_product_invest tpi ON tp.product_id = tpi.product_id AND tpi.invest_status = 'SUCCESS'
        LEFT OUTER JOIN tb_member ti ON ti.member_id = tpi.member_id
        WHERE tp.product_id = #{productId}::bigint
        group by
            tp.product_id
            , tp.title
            , tp.product_type
            , tp.total_investing_amount
            , tp.started_at
            , tp.finished_at
            , tp.created_time
            , tp.modified_time
            , tp.member_id
        ) AS b
        ]]>
    </select>

    <delete id="deleteProduct" parameterType="long">
        DELETE FROM tb_product WHERE product_id = #{productId}::bigint and started_at > now()
    </delete>

    <update id="updateProduct" parameterType="com.kakaopay.project.api.productmanagement.dto.ProductDto">
        UPDATE tb_product
        SET title = #{title}
        , total_investing_amount = #{totalInvestingAmount}::bigint
        , started_at = #{startedAt}::timestamp
        , finished_at = #{finishedAt}::timestamp
        , modified_time = now()
        WHERE product_id = #{productId}::bigint and started_at > now()
    </update>

    <insert id="insertProduct" parameterType="com.kakaopay.project.api.productmanagement.dto.ProductDto">
        INSERT INTO tb_product
            (title, product_type, total_investing_amount, started_at, finished_at, created_time, modified_time, member_id)
        VALUES
            (#{title}, #{productType}::en_product_type, #{totalInvestingAmount}::bigint, #{startedAt}::timestamp, #{finishedAt}::timestamp, now(), now(), #{memberId}::bigint)
    </insert>

    <select id="selectProductCount" resultType="int">
        SELECT count(product_id) FROM tb_product
    </select>
</mapper>